@import "tailwindcss";

@plugin "tailwindcss-animate";
/* @tailwind base;
@tailwind components; */
@tailwind utilities;
@import "@heroui/styles";

@custom-variant dark (&:is(.dark *)); 

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

/*
 * HeroUI Theme Customization
 * Add this to your global.css after importing @heroui/styles
 * Only includes base variables from variables.css
 * @see https://v3.heroui.com/docs/react/getting-started/theming
 */

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  /* Theme Colors (Light Mode) */
  --accent: oklch(62.04% 0.1950 253.83);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(97.02% 0.0015 253.83);
  --border: oklch(90.00% 0.0015 253.83);
  --danger: oklch(65.32% 0.2335 25.74);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94.00% 0.0015 253.83);
  --default-foreground: oklch(21.03% 0.0059 253.83);
  --field-background: oklch(100.00% 0.0008 253.83);
  --field-foreground: oklch(21.03% 0.0059 253.83);
  --field-placeholder: oklch(55.17% 0.0030 253.83);
  --focus: oklch(62.04% 0.1950 253.83);
  --foreground: oklch(21.03% 0.0059 253.83);
  --muted: oklch(55.17% 0.0030 253.83);
  --overlay: oklch(100.00% 0.0004 253.83);
  --overlay-foreground: oklch(21.03% 0.0059 253.83);
  --scrollbar: oklch(87.10% 0.0015 253.83);
  --segment: oklch(100.00% 0.0015 253.83);
  --segment-foreground: oklch(21.03% 0.0059 253.83);
  --separator: oklch(92.00% 0.0015 253.83);
  --success: oklch(73.29% 0.1941 150.81);
  --success-foreground: oklch(21.03% 0.0059 150.81);
  --surface: oklch(100.00% 0.0008 253.83);
  --surface-foreground: oklch(21.03% 0.0059 253.83);
  --warning: oklch(78.19% 0.1590 72.33);
  --warning-foreground: oklch(21.03% 0.0059 72.33);

  /* Border Radius */
  --radius: 0.5rem;
  --field-radius: 0.75rem;

  /* Font Family */
  /* Make sure to load Inter font in your app */
  --font-sans: var(--font-inter);
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(62.04% 0.1950 253.83);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(12.00% 0.0015 253.83);
  --border: oklch(28.00% 0.0015 253.83);
  --danger: oklch(59.40% 0.1973 24.63);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.40% 0.0015 253.83);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.0030 253.83);
  --field-foreground: oklch(99.11% 0.0000 0.00);
  --field-placeholder: oklch(70.50% 0.0030 253.83);
  --focus: oklch(62.04% 0.1950 253.83);
  --foreground: oklch(99.11% 0.0000 0.00);
  --muted: oklch(70.50% 0.0030 253.83);
  --overlay: oklch(21.03% 0.0030 253.83);
  --overlay-foreground: oklch(99.11% 0.0000 0.00);
  --scrollbar: oklch(70.50% 0.0015 253.83);
  --segment: oklch(39.64% 0.0015 253.83);
  --segment-foreground: oklch(99.11% 0.0000 0.00);
  --separator: oklch(25.00% 0.0015 253.83);
  --success: oklch(73.29% 0.1941 150.81);
  --success-foreground: oklch(21.03% 0.0059 150.81);
  --surface: oklch(21.03% 0.0030 253.83);
  --surface-foreground: oklch(99.11% 0.0000 0.00);
  --warning: oklch(82.03% 0.1392 76.34);
  --warning-foreground: oklch(21.03% 0.0059 76.34);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}